ide/xcode/build
ide/xcode/xmm-lib.xcodeproj/project.xcworkspace
ide/xcode/xmm-lib.xcodeproj/xcuserdata
dependencies/libjson/ide/build
dependencies/libjson/ide/json.xcodeproj/xcuserdata
dependencies/libjson/ide/json.xcodeproj/project.xcworkspace/xcuserdata
dependencies/libjson/Makefile
doc/html
doc/xml
bin
Makefile
python/Makefile
CMakeFiles
python/bin
python/xmm.py
python/xmm_doc.i
python/xmmPYTHON_wrap.cxx
python/bin
*CMakeCache.txt
*cmake_install.cmake
*pyc
*.a
*.so
*.dylib
*.ipynb_checkpoints
cmake_clean.sh
