ide/xcode/build
ide/xcode/xmm-lib.xcodeproj/project.xcworkspace/xcuserdata
ide/xcode/xmm-lib.xcodeproj/xcuserdata
dependencies/libjson/ide/build
dependencies/libjson/ide/json.xcodeproj/xcuserdata
dependencies/libjson/ide/json.xcodeproj/project.xcworkspace/xcuserdata
doc/html
doc/xml
python/bin
python/build
*pyc
*.a
*.dylib
*.ipynb_checkpoints