ide/xcode/build
dependencies/libjson/ide/build
dependencies/libjson/ide/json.xcodeproj/xcuserdata
dependencies/libjson/ide/json.xcodeproj/project.xcworkspace/xcuserdata
doc/html
doc/xml
*pyc
*.a
*.dylib