<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>doc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>python.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>xmm-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>xmm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B20E08D1A9A633600E89497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B20E0BE1A9A65E300E89497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B20E0DC1A9A70CB00E89497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BD1C5F417D9E4410061535A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BD1C5F817D9E82A0061535A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
